.app {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'PT Sans', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .app .wrapper-right {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .app .wrapper-right .header {
      width: 100%;
      height: 90px;
      min-height: 90px;
      background-color: #fafbfc;
      border-bottom: 1px solid #e7e9ea;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px 55px 20px 55px; }
      .app .wrapper-right .header .search {
        width: 100%; }
        .app .wrapper-right .header .search form {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          .app .wrapper-right .header .search form .icon {
            margin-right: 15px;
            font-size: 24px;
            color: rgba(152, 152, 152, 0.61); }
          .app .wrapper-right .header .search form input {
            border: none;
            outline: none;
            background: transparent;
            width: 100%;
            color: rgba(152, 152, 152, 0.9); }
            .app .wrapper-right .header .search form input::-webkit-input-placeholder {
              /* WebKit browsers */
              color: rgba(152, 152, 152, 0.61); }
            .app .wrapper-right .header .search form input:-moz-placeholder {
              /* Mozilla Firefox 4 to 18 */
              color: rgba(152, 152, 152, 0.61); }
            .app .wrapper-right .header .search form input::-moz-placeholder {
              /* Mozilla Firefox 19+ */
              color: rgba(152, 152, 152, 0.61); }
            .app .wrapper-right .header .search form input:-ms-input-placeholder {
              /* Internet Explorer 10+ */
              color: rgba(152, 152, 152, 0.61); }
      .app .wrapper-right .header .user-infos {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        .app .wrapper-right .header .user-infos .ocupation {
          white-space: nowrap;
          height: auto;
          padding: 5px 15px;
          border-radius: 2px;
          background-color: #ffffff;
          border: solid 2px rgba(77, 161, 255, 0.3);
          color: #4da1ff;
          margin-right: 25px;
          cursor: pointer; }
        .app .wrapper-right .header .user-infos .image {
          width: 65px;
          height: 65px;
          border-radius: 50%;
          background: url(../images/user.png) center center no-repeat;
          background-size: 100% auto;
          cursor: pointer; }
    .app .wrapper-right .content {
      width: 100%;
      height: 100%;
      background-color: #f4f8f9;
      padding: 45px 55px 30px 55px; }
      .app .wrapper-right .content h1 {
        font-weight: bold; }
