.app {
    width: 100%;
    display: flex;
    flex-direction: row;

    .menu-left {
        width: 110px;
        min-width: 110px;
        min-height: 100vh;
        background-color: #f4f8f9;
        border-right: 1px solid #e7e9ea;
        display: flex;
        flex-direction: column;

        .logo {
            width: 100%;
            height: 90px;
            min-height: 90px;
            background: url(../img/img_logo.png) center center no-repeat;
            background-size: 80% auto;
        }

        .menu-items {
           width: 100%;
           height: 100%;
           display: flex;
           flex-direction: column;
           justify-content: flex-start;
           margin-top: 70px;
           
           .item {
                height: 45px;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                text-decoration: none;
                margin-top: 15px;
               
                .rectangle {
                    width: 0%;
                    will-change: width;
                    height: 100%;
                    border-radius: 16px;
                    background-color: #4192ec;
                    box-shadow: 2px 3px 11px 0 rgba(1, 172, 253, 0.74);
                    transition: 0.2s ease-in;
                }

                .label {
                    width: 100%;
                    color: #4da1ff;
                    font-size: 20px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .item-name {
                        font-size: 12px;
                        margin: 0;
                    }
                }

                &:hover {
                    .rectangle { width: 3%; }
                }

                &.active {
                    .rectangle { width: 3%; }
                }
           }
        }

        .footer {
            width: 100%;
            height: 35px;
            max-height: 35px;
            background-color: #e7e9eae1;
            font-size: 11px;
            color: rgba(0,0,0,0.5);
            padding: 10px 4px;
            word-wrap: nowrap;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            text-align: center;
        }
    }

    .wrapper-right {
        min-height: 100vh;
        width: 100%;

        .header {
            width: 100%;
            height: 90px;
            min-height: 90px;
            background-color: #f4f8f9;
            border-bottom: 1px solid #e7e9ea;
        }

        .content {
            background-color: #f4f8f9;
        }
    }
}