@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
.app {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'PT Sans', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .app .wrapper-right {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .app .wrapper-right .header {
      width: 100%;
      height: 90px;
      min-height: 90px;
      background-color: #fafbfc;
      border-bottom: 1px solid #e7e9ea;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px 55px 20px 55px; }
      .app .wrapper-right .header .search {
        width: 100%; }
        .app .wrapper-right .header .search form {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          .app .wrapper-right .header .search form .icon {
            margin-right: 15px;
            font-size: 24px;
            color: rgba(152, 152, 152, 0.61); }
          .app .wrapper-right .header .search form input {
            border: none;
            outline: none;
            background: transparent;
            width: 100%;
            color: rgba(152, 152, 152, 0.9); }
            .app .wrapper-right .header .search form input::-webkit-input-placeholder {
              /* WebKit browsers */
              color: rgba(152, 152, 152, 0.61); }
            .app .wrapper-right .header .search form input:-moz-placeholder {
              /* Mozilla Firefox 4 to 18 */
              color: rgba(152, 152, 152, 0.61); }
            .app .wrapper-right .header .search form input::-moz-placeholder {
              /* Mozilla Firefox 19+ */
              color: rgba(152, 152, 152, 0.61); }
            .app .wrapper-right .header .search form input:-ms-input-placeholder {
              /* Internet Explorer 10+ */
              color: rgba(152, 152, 152, 0.61); }
      .app .wrapper-right .header .user-infos {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        .app .wrapper-right .header .user-infos .ocupation {
          white-space: nowrap;
          height: auto;
          padding: 5px 15px;
          border-radius: 2px;
          background-color: #ffffff;
          border: solid 2px rgba(77, 161, 255, 0.3);
          color: #4da1ff;
          margin-right: 25px;
          cursor: pointer; }
        .app .wrapper-right .header .user-infos .image {
          width: 65px;
          height: 65px;
          border-radius: 50%;
          background: url(../images/user.png) center center no-repeat;
          background-size: 100% auto;
          cursor: pointer; }
    .app .wrapper-right .app-content {
      width: 100%;
      height: 100%;
      background-color: #f4f8f9;
      padding: 45px 55px 30px 55px; }
      .app .wrapper-right .app-content h1 {
        font-weight: bold;
        line-height: 100%;
        margin-bottom: 40px; }

.support-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .support-area .component-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; }

.login-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f4f8f9;
  justify-content: center;
  align-items: center; }
  .login-wrapper .base {
    width: 636px;
    height: 490.2px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03); }
    .login-wrapper .base form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px 30px; }
      .login-wrapper .base form h1 {
        font-weight: bold;
        color: #233539; }
      .login-wrapper .base form .input-group {
        margin-top: 25px;
        width: 100%;
        display: flex;
        flex-direction: column; }
        .login-wrapper .base form .input-group label {
          text-transform: uppercase;
          font-size: 12px;
          color: #323c47; }
        .login-wrapper .base form .input-group input {
          transition: 0.3s ease;
          padding: 7px 20px;
          border-radius: 4px;
          background-color: #ffffff;
          border: solid 1px #e9eff4;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.08;
          letter-spacing: -0.2px;
          text-align: left;
          color: #323c47;
          outline: none; }
          .login-wrapper .base form .input-group input.error {
            border: solid 1px rgba(245, 47, 47, 0.4);
            animation: 0.2s bounce ease-in; }
      .login-wrapper .base form .buttons-form-group {
        margin-top: 35px;
        width: 100%;
        display: flex;
        flex-direction: column; }
        .login-wrapper .base form .buttons-form-group button {
          font-size: 15px;
          padding: 10px 20px;
          border-radius: 2px;
          border: solid 1px rgba(77, 161, 255, 0.7); }
        .login-wrapper .base form .buttons-form-group .submit {
          background-color: #4da1ff;
          color: #ffffff; }
          .login-wrapper .base form .buttons-form-group .submit:disabled {
            background-color: #74b3fc; }
        .login-wrapper .base form .buttons-form-group .reset-password {
          margin-top: 12px;
          color: #4da1ff;
          background-color: #ffffff;
          outline: none; }

@keyframes bounce {
  0% {
    transform: translateX(-5px); }
  50% {
    transform: translateX(5px); }
  100% {
    transform: translateX(0%); } }

.warehouse {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .warehouse .component-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; }

.menu-left {
  width: 110px;
  min-width: 110px;
  min-height: 100vh;
  background-color: #fafbfc;
  border-right: 1px solid #e7e9ea;
  display: flex;
  flex-direction: column; }
  .menu-left .logo {
    width: 100%;
    height: 90px;
    min-height: 90px;
    background: url(../images/img_logo.png) center center no-repeat;
    background-size: 80% auto;
    cursor: pointer; }
  .menu-left .menu-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px; }
    .menu-left .menu-items .item {
      height: 45px;
      min-height: 45px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      text-decoration: none;
      margin-top: 40px; }
      .menu-left .menu-items .item .rectangle {
        width: 0%;
        will-change: width;
        height: 100%;
        border-radius: 16px;
        background-color: #4192ec;
        box-shadow: 2px 3px 11px 0 rgba(1, 172, 253, 0.74);
        transition: 0.2s ease-in; }
      .menu-left .menu-items .item .label {
        width: 100%;
        color: #4da1ff;
        font-size: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .menu-left .menu-items .item .label .item-name {
          font-size: 12px;
          margin: 0; }
      .menu-left .menu-items .item:hover .rectangle {
        width: 5%; }
      .menu-left .menu-items .item.active .rectangle {
        width: 5%; }
  .menu-left .footer {
    width: 100%;
    height: 35px;
    max-height: 35px;
    min-height: 35px;
    background-color: #e7e9eae1;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.3);
    padding: 10px 4px;
    word-wrap: nowrap;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    text-align: center; }
    .menu-left .footer p {
      margin: 0;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

.sub-menu {
  max-height: 64vh;
  width: 25%;
  min-width: 280px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 13px 20px 20px; }
  .sub-menu .title {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: #323c47;
    margin: 15px 10px;
    text-transform: uppercase; }
  .sub-menu .items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    max-height: 100%; }
    .sub-menu .items .item {
      width: 100%;
      height: 60px;
      min-height: 60px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 25px;
      padding: 7px 15px;
      border-radius: 5px;
      background-color: #ffffff;
      border: solid 1px #e9eff4;
      text-decoration: none;
      transition: 0.2s ease; }
      .sub-menu .items .item .icon {
        margin-right: 24px;
        font-size: 28px;
        color: #4da1ff; }
      .sub-menu .items .item .item-name {
        font-size: 14px;
        color: #323c47;
        text-transform: capitalize;
        white-space: nowrap; }
      .sub-menu .items .item:hover, .sub-menu .items .item.active {
        background-color: #4da1ff;
        border: solid 1px transparent; }
        .sub-menu .items .item:hover .icon, .sub-menu .items .item:hover .item-name, .sub-menu .items .item.active .icon, .sub-menu .items .item.active .item-name {
          color: #ffffff; }
      .sub-menu .items .item:last-of-type {
        margin-bottom: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box; }

.custom-modal {
  border-radius: 6px;
  font-family: 'PT Sans', sans-serif; }
  .custom-modal svg {
    fill: rgba(0, 0, 0, 0.4); }
  .custom-modal h2 {
    font-size: 38px;
    color: #233539;
    letter-spacing: -1.1px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    padding: 0 50px 0 0; }
  .custom-modal p {
    font-weight: 400;
    padding: 0 50px 0 0; }

::-webkit-scrollbar {
  width: 7px;
  height: 7px; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 2px; }

::-webkit-scrollbar-thumb:hover {
  background: #e1e1e1; }

::-webkit-scrollbar-thumb:active {
  background: #e1e1e1; }

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 2px; }

::-webkit-scrollbar-track:hover {
  background: transparent; }

::-webkit-scrollbar-track:active {
  background: transparent; }

::-webkit-scrollbar-corner {
  background: transparent; }
