// Containers
@import './containers/App.scss';
@import './containers/SupportArea/SupportArea.scss';
@import './containers/Login.scss';
@import './containers/Warehouse.scss';

// Components
@import './components/MenuLeft.scss';
@import './components/SubMenu.scss';

// Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.custom-modal {
  border-radius: 6px;
  font-family: 'PT Sans', sans-serif;

  svg {
    fill: rgba(0,0,0,0.4  );
  }

  h2 {
    font-size: 38px;
    color: #233539;
    letter-spacing: -1.1px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    padding: 0 50px 0 0;
  }

  p {
    font-weight: 400;
    padding: 0 50px 0 0;
  }

}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e1e1e1;
}
::-webkit-scrollbar-thumb:active {
  background: #e1e1e1;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 2px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
